name: fastapi-compose

x-back-image: &back-image {{back_image}}
x-front-image: &front-image {{front_image}}

x-base: &base
  image: *back-image
  env_file:
    - .env
  environment:
    DB__HOST: db

x-db-base: &db-base
  image: postgres:18
  restart: always
  env_file:
    - .env
  healthcheck:
    test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB"]
    interval: 10s
    timeout: 5s
    retries: 5
    start_period: 10s

services:
  db:
    <<: *db-base
    environment:
      POSTGRES_USER: ${DB__USER}
      POSTGRES_PASSWORD: ${DB__PASSWORD}
      POSTGRES_DB: ${DB__NAME}
    volumes:
      - pgdata:/var/lib/postgresql/18/docker

  alembic:
    <<: *base
    restart: on-failure
    depends_on:
      db:
        condition: service_healthy
    command: ["alembic", "upgrade", "head"]
  rbac:
    <<: *base
    restart: on-failure
    depends_on:
      alembic:
        condition: service_completed_successfully
    command: ["python3", "init.py"]
  api:
    <<: *base
    depends_on:
      rbac:
        condition: service_completed_successfully
    restart: always
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000/api/v1/health"]
      interval: 30s
      timeout: 5s
      retries: 3
      start_period: 10s
  web:
    image: *front-image
    restart: always
    depends_on:
      api:
        condition: service_healthy
  
  proxy_db:
    <<: *db-base
    environment:
      POSTGRES_USER: ${DB__USER}
      POSTGRES_PASSWORD: ${DB__PASSWORD}
      POSTGRES_DB: proxy
    volumes:
      - proxy_pgdata:/var/lib/postgresql/18/docker

  proxy:
    image: 'jc21/nginx-proxy-manager:latest'
    restart: unless-stopped
    ports:
      - '80:80'
      - '443:443'
      - '81:81'
    env_file:
    - .env
    environment:
      TZ: "Russia/Moscow"
      DB_POSTGRES_HOST: 'proxy_db'
      DB_POSTGRES_PORT: '5432'
      DB_POSTGRES_USER: ${DB__USER}
      DB_POSTGRES_PASSWORD: ${DB__PASSWORD}
      DB_POSTGRES_NAME: proxy
      INITIAL_ADMIN_EMAIL: ${PROXY__ADMIN_EMAIL}
      INITIAL_ADMIN_PASSWORD: ${PROXY__ADMIN_PASSWORD}
    volumes:
      - proxy_data:/data
      - certificates:/etc/letsencrypt

volumes:
  pgdata:
  proxy_pgdata:
  proxy_data:
  certificates: