name: fastapi-compose-front

x-back-image: &back-image {{ back_image }}
x-front-image: &front-image {{ front_image }}

x-platform: &platform
  platform: linux/x86_64

x-back: &back
  platform: linux/amd64
  image: *back-image
  env_file:
    - .env
  environment:
    DB__HOST: db

x-back-service: &back-service
  <<: *back
  restart: on-failure

x-db-base: &db-base
  <<: *platform
  image: postgres:18
  restart: always
  env_file:
    - .env
  healthcheck:
    test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB"]
    interval: 10s
    timeout: 5s
    retries: 5
    start_period: 10s


services:
  db:
    <<: *db-base
    ports:
    - "5432:5432"
    environment:
      POSTGRES_USER: ${DB__USER}
      POSTGRES_PASSWORD: ${DB__PASSWORD}
      POSTGRES_DB: ${DB__NAME}
    volumes:
      - pgdata:/var/lib/postgresql/18/docker

  alembic:
    <<: *back-service
    depends_on:
      db:
        condition: service_healthy
    command: ["alembic", "upgrade", "head"]
  rbac:
    <<: *back-service
    depends_on:
      alembic:
        condition: service_completed_successfully
    command: ["python3", "init.py"]
  api:
    <<: *back
    depends_on:
      rbac:
        condition: service_completed_successfully
    restart: always
    ports:
      - 8000:8000
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000/api/v1/health"]
      interval: 30s
      timeout: 5s
      retries: 3
      start_period: 10s
  web:
    image: *front-image
    restart: always
    ports:
      - '80:80'
    depends_on:
      api:
        condition: service_healthy

volumes:
  pgdata: